@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.fuentedeinicio{
    font-family: "Bungee Spice", sans-serif;
}


body{
display: flex;
min-height: 100vh;
flex-direction: column;    
}

main{
    flex-grow: 1;
}

.img-circular{
    max-width: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: 300ms;
}

.img-circular:hover {
    filter: grayscale(60%);
    transform: scale(1.2);
  }